<div data-ng-controller="NivelController" layout="column" ng-cloak>
<h1 class="md-headline">Crear nivel</h1>
  <md-content layout-padding>
    <form data-ng-submit="createNivelForm.$valid && create()" name="createNivelForm" novalidate>
      <md-input-container class="md-block">
        <label>Nombre</label>
        <input required name="nombre" ng-model="nombre" md-maxlength="40">
        <div ng-messages="createNivelForm.nombre.$error">
            <div ng-message="required">Este campo es obligatorio</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Descripción</label>
        <textarea name="descripcion" ng-model="descripcion"></textarea>
      </md-input-container>
      <div layout="row" style="margin-top: 30px;">
          <md-button class="md-raised" type="submit">Enviar</md-button>
          <md-button class="md-raised" href="/#!/niveles/">Cancelar</md-button>
      </div>
    </form>
  </md-content>
</div>