<md-card data-ng-controller="UsuarioController" data-ng-init="findOne('estudiante')">
    <md-card-title>
        <md-card-title-text>
            <span class="md-subhead">Estudiante</span>
            <span class="md-headline" data-ng-bind="usuario.Usuario.nombreCompleto"></span>
        </md-card-title-text>
        <md-card-title-media>
          <div class="md-media-sm card-media"></div>
        </md-card-title-media>
    </md-card-title>
    <md-card-content>
      <p>
        <i>Correo:</i> <a href=mailto:"{{usuario.Usuario.email}}" alt="email">{{usuario.Usuario.email}}</a>
      </p>
      <p>
        <i>Área:</i> <span data-ng-bind="usuario.Usuario.area"></span>
      </p>
      <p>
        <i>Nivel Diagnosticado:</i> <span data-ng-bind="usuario.NivelD.nombre"></span>
      </p>
      <p>
        <i>Nivel Acreditado:</i> <span data-ng-bind="usuario.NivelA.nombre"></span>
      </p>
      <p data-ng-bind="usuario.observaciones"></p>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
        <md-button class="md-primary" href="/#!/usuarios/{{usuario.Usuario.id}}/edit">Editar</md-button>
        <md-button class="md-warn" data-ng-click="remove();">Eliminar</md-button>
    </md-card-actions>
</md-card>

<md-fab-speed-dial md-direction="up" md-open="false" class="md-fling">
  <md-fab-trigger>
    <md-button class="md-fab md-raised" aria-label="Añadir">
        <md-tooltip md-direction="right">Añadir usuario</md-tooltip>
        <md-icon md-svg-icon="/img/icons/ic_person_add_black_24px.svg"></md-icon>
    </md-button>
  </md-fab-trigger>
  <md-fab-actions>
    <md-button class="md-fab md-raised md-mini" aria-label="Añadir estudiante" href="/#!/usuarios/create">
      <md-tooltip md-direction="right">Añadir estudiante</md-tooltip>
      <md-icon md-svg-icon="/img/icons/ic_person_black_24px.svg"></md-icon>
    </md-button>
    <md-button class="md-fab md-raised md-mini" aria-label="Añadir profesor" href="/#!/usuarios/create">
      <md-tooltip md-direction="right">Añadir profesor</md-tooltip>
      <md-icon md-svg-icon="/img/icons/ic_person_outline_black_24px.svg"></md-icon>
    </md-button>
  </md-fab-actions>
</md-fab-speed-dial>