<div data-ng-controller="EstudianteController" data-ng-init="get_niveles();findOne()" layout="column" ng-cloak>
<h1 class="md-headline">Editar estudiante</h1>
  <md-content layout-padding>
    <form data-ng-submit="createUsrForm.$valid && update()" name="createUsrForm" novalidate>
      <md-input-container class="md-block">
        <label>Nombre</label>
        <input required name="nombre" ng-model="usuario.Usuario.nombre" md-maxlength="40">
        <div ng-messages="createUsrForm.nombre.$error">
            <div ng-message="required">Este campo es obligatorio</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Apellidos</label>
        <input required name="apellidos" ng-model="usuario.Usuario.apellidos" md-maxlength="70">
        <div ng-messages="createUsrForm.apellidos.$error">
            <div ng-message="required">Este campo es obligatorio</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Email</label>
        <input type="email" required name="email" ng-model="usuario.Usuario.email" md-maxlength="40">
        <div ng-messages="createUsrForm.email.$error">
            <div ng-message="required">Este campo es obligatorio</div>
            <div ng-message="email">Formato de correo incorrecto</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Área</label>
        <input required name="area" ng-model="usuario.Usuario.area" md-maxlength="100">
        <div ng-messages="createUsrForm.area.$error">
            <div ng-message="required">Este campo es obligatorio</div>
        </div>
      </md-input-container>
      <!--<md-input-container class="md-block">
        <label>Clave</label>
        <input type="password" name="clave" ng-model="clave">
        <!-- <div ng-messages="createUsrForm.clave.$error">
            <div ng-message="required">Este campo es obligatorio</div>
        </div>
      </md-input-container>-->
      <md-input-container class="md-block">
        <label>Nivel diagnosticado</label>
        <md-select name="nivel_diagnosticado" ng-model="usuario.nivel_diagnosticado">
          <md-option ng-value="{{nivel.id}}" ng-repeat="nivel in dniveles" ng-selected="{{ (nivel.id === usuario.nivel_diagnosticado) }}">{{nivel.nombre}}</md-option>
        </md-select>
        <!-- <div ng-messages="createUsrForm.clave.$error">
            <div ng-message="required">Este campo es obligatorio</div>
        </div> -->
      </md-input-container>
      <md-input-container class="md-block">
        <label>Nivel acreditado</label>
        <md-select name="nivel_acreditado" ng-model="usuario.nivel_acreditado">
          <md-option ng-value="{{nivel.id}}" ng-repeat="nivel in aniveles" ng-selected="{{ (nivel.id === usuario.nivel_acreditado) }}">{{nivel.nombre}}</md-option>
        </md-select>
        <!-- <div ng-messages="createUsrForm.clave.$error">
            <div ng-message="required">Este campo es obligatorio</div>
        </div> -->
      </md-input-container>
      <md-input-container class="md-block">
        <label>Observaciones</label>
        <textarea name="observaciones" ng-model="usuario.observaciones"></textarea>
      </md-input-container>
      <div layout="row" style="margin-top: 30px;">
          <md-button class="md-raised" type="submit">Enviar</md-button>
          <md-button class="md-raised" href="/#!/estudiantes/">Cancelar</md-button>
      </div>
    </form>
  </md-content>
</div>