<style type="text/css">
  .selectdemoSelectHeader {
  /* Please note: All these selectors are only applied to children of elements with the 'selectdemoSelectHeader' class */ }
  .selectdemoSelectHeader .demo-header-searchbox {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 0; 
  }
  .selectdemoSelectHeader .demo-select-header {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
    padding-left: 10.667px;
    height: 48px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    width: auto; 
  }
  .selectdemoSelectHeader md-content._md {
    max-height: 240px; 
  }
</style>
<div data-ng-controller="CursoController" data-ng-init="findOne();getProfesores();"ng-cloak>
    <h3 class="md-headline">Asignar profesor(es) al curso <a href="/#!/cursos/{{curso.id}}">{{curso.titulo}}</a></h3>
      <form data-ng-submit="cpform.$valid && asignarProfesor()" name="cpform" novalidate >
        <div layout="row">
        <md-input-container class="md-block" flex="50">
                  <label>Profesor(es)</label>
                  <md-select name="profesores" ng-model="profesores" md-on-close="clearSearchTerm()" data-md-container-class="selectdemoSelectHeader" multiple required>
                      <md-select-header class="demo-select-header">
                        <input ng-model="searchTerm" type="search" placeholder="Buscar profesor" class="demo-header-searchbox _md-text" />
                      </md-select-header>
                    <md-option ng-value="prof.idprofesor" ng-repeat="prof in selectProfesores | filter:searchTerm" ng-selected="{{ prof.checked }}">{{ prof.nombre + " " + prof.apellidos }}</md-option>
                  </md-select>
                  <div ng-messages="cpform.profesores.$error">
                    <div ng-message="required">Este campo es obligatorio</div>
                  </div>
                </md-input-container>
          </div>
        <div layout="row" style="margin-top: 30px;">
          <md-button class="md-raised" type="submit">Enviar</md-button>
          <md-button class="md-raised" href="/#!/cursos/">Cancelar</md-button>
        </div>
      </form>
</div>