<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">

<head>
    <meta charset="utf-8" />
    <title>
        <%= title %>
    </title>
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic"> -->
    <link rel="stylesheet" href="/lib/angular-material/angular-material.css" />
    <link rel="stylesheet" href="/lib/ng-table/dist/ng-table.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <style type="text/css">
        .validation-messages {
            font-size: 12px;
            color: #dd2c00;
            margin: 10px 0 0 25px; 
        }
    </style>
</head>

<body ng-cloak>
    <div ng-controller="SideBarController" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    <a href="/#!/" alt="inicio" class="md-title">CENID</a>
                </h2>
                <span flex></span>
                <div class="input-group" flex="40">
                    <input type="search" name="q" id="q" ng-model="q" class="form-control" placeholder="Buscar">
                    <div class="input-group-btn">
                        <button class="btn btn-default" ng-click="search()"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
                <span flex></span>
                    <% if ( user ) { %>
                        <!--<h4>Hello <%=user%> </h4>-->
                        <a href="/signout"><md-icon md-svg-icon="/img/icons/logout-variant.svg"></md-icon></a>
                    <% } else { %>
                        <a href="/signin"><md-icon md-svg-icon="/img/icons/login-variant.svg"></md-icon></a>
                    <% } %>
                <md-button class="md-icon-button" aria-label="Menu" ng-click="openRightMenu()">
                    <md-icon md-svg-icon="/img/icons/ic_menu_black_24px.svg"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-sidenav md-component-id="right" class="md-sidenav-right">
            <md-toolbar>
                <h1 class="md-toolbar-tools">Menú</h1>
            </md-toolbar>
            <md-list>
                <md-list-item>
                    <a href="/#!/estudiantes/" data-ng-click="close();">Estudiantes</a>
                </md-list-item>
                <md-list-item>
                    <a href="/#!/profesores/" data-ng-click="close();">Profesores</a>
                </md-list-item>
                <md-list-item>
                    <a href="/#!/cursos/" data-ng-click="close();">Cursos</a>
                </md-list-item>
                <md-list-item>
                    <a href="/#!/grupos/" data-ng-click="close();">Grupos</a>
                </md-list-item>
                <md-list-item>
                    <a href="/#!/niveles/" data-ng-click="close();">Niveles</a>
                </md-list-item>
                <md-list-item>
                    <a href="/#!/pruebas/" data-ng-click="close();">Pruebas</a>
                </md-list-item>
                <md-list-item>
                    <a href="/#!/locales/" data-ng-click="close();">Locales</a>
                </md-list-item>
            </md-list>
        </md-sidenav>
    </div>

    <!-- <md-button class="md-fab md-raised md-fab-top-right" aria-label="Settings" ng-controller="SideBarController" ng-click="openRightMenu()">
        <md-tooltip md-direction="top">Menu</md-tooltip>
        <md-icon md-svg-icon="/img/icons/ic_menu_black_24px.svg"></md-icon>
    </md-button> -->

    <md-content ng-cloak>
        <div layout="row">
            <!-- 20% padding to the left -->
            <div flex="20"></div>
            <section ng-view ng-cloak flex="60">

            </section>
            <!-- 20% padding to the right -->
            <div flex="20"></div>
        </div>
    </md-content>
    
    <script type="text/javascript">
        window.user = <%- user || 'null' %>;
    </script>

    <script src="/lib/lodash.js"></script>

    <script src="/lib/angular/angular.js"></script>
    <script src="/lib/angular-route/angular-route.js"></script>
    <script src="/lib/angular-resource/angular-resource.js"></script>
    <script src="/lib/angular-messages/angular-messages.js"></script>
    <script src="/lib/ng-table/dist/ng-table.js"></script>
    <script src="/lib/ng-table-to-csv/dist/ng-table-to-csv.js"></script>
    <script src="/lib/angular-local-storage/dist/angular-local-storage.min.js"></script>

    <!-- angular material -->
    <script src="/lib/angular-animate/angular-animate.js"></script>
    <script src="/lib/angular-aria/angular-aria.js"></script>
    <script src="/lib/angular-messages/angular-messages.js"></script>
    <script src="/lib/angular-material/angular-material.js"></script>

    <script src="/lib/pdfmake/build/pdfmake.min.js"></script>
    <script src="/lib/pdfmake/build/vfs_fonts.js"></script>

    <!-- modulos -->
    <script src="/usuario/usuario.client.module.js"></script>
    <!-- <script src="/usuario/controllers/usuario.client.controller.js"></script>     -->
    <script src="/usuario/controllers/estudiante.client.controller.js"></script>
    <script src="/usuario/controllers/profesor.client.controller.js"></script>
    <script src="/usuario/config/usuario.client.routes.js"></script>
    <!-- <script src="/usuario/services/usuario.client.service.js"></script> -->
    <script src="/usuario/services/authentication.client.service.js"></script>
    <script src="/usuario/services/estudiante.client.service.js"></script>
    <script src="/usuario/services/profesor.client.service.js"></script>

    <script src="/curso/curso.client.module.js"></script>
    <script src="/curso/controllers/curso.client.controller.js"></script>
    <script src="/curso/config/curso.client.routes.js"></script>
    <script src="/curso/services/curso.client.service.js"></script>

    <script src="/grupo/grupo.client.module.js"></script>
    <script src="/grupo/controllers/grupo.client.controller.js"></script>
    <script src="/grupo/config/grupo.client.routes.js"></script>
    <script src="/grupo/services/grupo.client.service.js"></script>

    <script src="/nivel/nivel.client.module.js"></script>
    <script src="/nivel/controllers/nivel.client.controller.js"></script>
    <script src="/nivel/config/nivel.client.routes.js"></script>
    <script src="/nivel/services/nivel.client.service.js"></script>

    <script src="/local/local.client.module.js"></script>
    <script src="/local/controllers/local.client.controller.js"></script>
    <script src="/local/config/local.client.routes.js"></script>
    <script src="/local/services/local.client.service.js"></script>

    <script src="/prueba/prueba.client.module.js"></script>
    <script src="/prueba/controllers/prueba.client.controller.js"></script>
    <script src="/prueba/config/prueba.client.routes.js"></script>
    <script src="/prueba/services/prueba.client.service.js"></script>
    
    <script src="/search/search.client.module.js"></script>
    <script src="/search/config/search.client.routes.js"></script>
    <script src="/search/services/search.client.service.js"></script>
    <!-- modulos -->
    <script src="/application.js"></script>

</body>

</html>